#navcolor {
    font-size:30px;
    background-color: rgb(15, 145, 145);
}

#moveleft{
    margin: px;
    float:left;
}
#bodycolor{
   
    background-color: rgb(179, 178, 178);
}

.my-container{
    margin:60px;
    
}
.my-column1{
      
    border:solid white;
    background-color: white;
}

  
.my-column2{
    
    border:solid white;
    background-color: white;

}

.column2 {
    float:left;
    padding: 5px;
  }
  
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  

footer{
    
    border-top: 6px solid rgb(15, 145, 145);
    text-align: center;
    height:40px;
    background-color: gray;
    color: white;
 }